html, body{
  height: 100%;
  text-align: center;
  font-family: PingHei, 'Microsoft YaHei', 'Arial Narrow';
}



.logo-75{
  width: 75px;
}
.logo-45{
  width: 45px;
}


/* BEGIN global nav */
.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-common{
  background-color: #f7f7f6;
  height: 60px;
  font-size: 14px;
  opacity: .8;
}
.navbar ul li a{
  color: #555;
}
.navbar ul li a:hover {
  background-color: #f7f7f6;
}
.navbar ul li {
  margin: 0 20px;
}



 /* BEGIN normal page */
.page {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 960px;
}
.page .page-header{
  margin: 80px auto 40px auto;
  border-bottom: 0;
}
.page-content{
  text-align: left;
  font-family: PingHei, 'Microsoft YaHei', 'Arial Narrow';
  font-size: 16px;
  line-height: 200%;
}
.page-content p{
  margin: 20px 0;
  text-indent: 32px;
}

/* BEGIN product */
.product-page{
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.product-page .carousel-control.right, .product-page .carousel-control.left{
  background-image: none;
}
.product-page .carousel-show{
  width: 100%;
  margin: 40px auto auto auto;
}
.carousel-show .item img{
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}

.product-page .navbar-bottom{
  background-color: rgb(242,240,239);
  overflow: hidden;
  width:100%;
  margin: 60px 0 0 0;
  text-align: center;
  height: auto;
}
.product-page .navbar-bottom ul{
  width: auto;
  /*overflow: hidden;*/
  background-color: #fff;
  min-width: 500px;
}
.product-page .navbar-bottom ul li {
  padding: 0;
  margin: 0 1px;
}
.product-page .navbar-bottom ul li:last-child{
  margin-right: 0;
}
.product-page .navbar-bottom ul li:first-child{
  margin-left: 0;
}
.product-page .navbar-bottom ul li a{
  padding: 0;
}
.product-page .navbar-bottom .navbar-nav{
  display: inline-block;
  float: none;
}

/* BEGIN global footer */
.footer {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
}

.footer{
  padding: 30px 0 20px 0;
  font-size: 12px;
}

.vertical-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
